@import '../utils/keyframes';

header,
body,
footer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    background: #ffffff; 
}
header .logo {
    width: 162px;
    height: 44px;
    object-fit: contain;
    margin: auto;
    padding: 14px 0px 5px 0px;
}

footer {
    background: #353535;
    width: 100%;
    height: 197px;

    .logo {
        color: white;
        padding: 22px 0px 0px 25px;
        margin: 0px;
    }

    ul {
        margin-left: 25px;
        margin-top: 16px;
        padding: 18px 0px 26px 25px;
        margin: 0px;
    }

    li {
        padding-bottom: 7px;
        font-size: 16px;
        font-weight: 500;
        color: white;
        list-style-type: none;
    }
    a {
        color: white;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        max-width: 1023px;
        width: 100%;
    }
    header {
        max-width: 1023px;
        width: 100%;
    }
    header .logo {
        width: 200px;
        height: 34px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer {
        max-width: 1023px;
        width: 100%;
        position: relative;
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        .logo {
            position: absolute;
            right: 45px;
            top: 10px;
        }
        ul {
            position: absolute;
            right: 25px;
            top: 10px;
            display: flex;
            flex-direction: row;
            padding-left: 0px;
            padding-bottom: 0px;
            li {
                padding: 50px 10px 10px 20px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header, body, footer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    }
    header .logo {
        width: 200px;
        height: 34px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer {
        position: relative;
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        .logo {
            position: absolute;
            right: 25px;
            top: 42px;
        }
        ul {
            display: flex;
            flex-direction: row;
            li {
                padding: 50px 10px 10px 20px;
            }
        }
    }
}